body {background-color:#F8E0A4;}

h1 {color:#6C1A1A;
   text align: center;
   font-size: 72pt;
   font-weight: bold;
   font-family: sans-serif;
   font-style: italic;}

p {color:#FFFFFF;
  background-color:#31AAA9;
  padding: 0.6em;
  margin: auto;
   margin-bottom: 2 em;
  text-align: right;
  border: 3 px dashed black;
  width: 50%
  min-width: 40em;}

.kanan {text-align: right;
        background-color:#91AC67;}
.kiri {text-align: left;
       background-color:#6E3511;}
.tengah {text-align: center
         background-color:#22396F;}
.kanan2 {text-align: right;
        background-color:#91AC67;}
.kiri2 {text-align: left;
        background-color:#A82020;}
.tengah2 {text-align: center;
        background-color:#F2842F;}
.kanan3 {text-align: right;
        background-color:#123F36;}
.kiri3 {text-align: left;
        background-color:#C49A45;}
.tengah3 {text-align: center;
        background-color:#413333;}

div {text-align: center;}

a {color: #A82020;
   text-decoration:none;}
